In [2]:
import pandas as pd
import numpy
import string
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem.porter import PorterStemmer
stopword = set(stopwords.words('english'))
porter = PorterStemmer()
pa = pd.read_csv(r'C:/Users/Admin/Downloads/KDD-Cup/dataRev/PaperAuthor1.csv')

In [3]:
pa['Affiliation'] = pa['Affiliation'].fillna("")
pa.head()

,PaperId,AuthorId,Name,Affiliation
0,1,521630,Ayman Kaheel,Cairo Microsoft Innovation Lab
1,1,972575,Mahmoud Refaat,Cairo Microsoft Innovation Lab
2,1,1528710,Ahmed Abdul-hamid,Cairo Microsoft Innovation Lab
3,1,1611750,Motaz Ahmad El-saban,Cairo Microsoft Innovation Lab
4,2,1682088,Julio D. Rossi,"Departamento MatemÃ¡tica, FCEyN UBA (1428) Bue..."

In [11]:
pa_1 = pd.DataFrame(pd.pivot_table(pa,values = "Affiliation",index = ['PaperId',"AuthorId"], aggfunc = "count"))

pa_1.head()

                  Affiliation
PaperId AuthorId
1       521630              1
        972575              1
        1528710             1
        1611750             1
2       1682088             1

In [12]:
pa_1['Affiliation'].shape

(1961,)

In [16]:
pa_2 =  pd.DataFrame(pd.pivot_table(pa,values = "Affiliation",index = ['PaperId',"AuthorId"], aggfunc = "sum"))
#list(pa_2['Affiliation'])

In [17]:
pa_1['Affiliation_1'] = list(pa_2['Affiliation'])

In [18]:
pa_1.head()

                  Affiliation  \
PaperId AuthorId
1       521630              1
        972575              1
        1528710             1
        1611750             1
2       1682088             1

                                                      Affiliation_1
PaperId AuthorId
1       521630                       Cairo Microsoft Innovation Lab
        972575                       Cairo Microsoft Innovation Lab
        1528710                      Cairo Microsoft Innovation Lab
        1611750                      Cairo Microsoft Innovation Lab
2       1682088   Departamento MatemÃ¡tica, FCEyN UBA (1428) Bue...

In [27]:
pa_1.loc[1].loc[521630]

Affiliation                                   1
Affiliation_1    Cairo Microsoft Innovation Lab
Name: 521630, dtype: object

In [28]:
pa_1= pa_1.rename(columns={"Affiliation":"Count","Affiliation_1":"Affiliation"})
pa_1.head()

                  Count                                        Affiliation
PaperId AuthorId
1       521630        1                     Cairo Microsoft Innovation Lab
        972575        1                     Cairo Microsoft Innovation Lab
        1528710       1                     Cairo Microsoft Innovation Lab
        1611750       1                     Cairo Microsoft Innovation Lab
2       1682088       1  Departamento MatemÃ¡tica, FCEyN UBA (1428) Bue...