In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [2]:
dataset = {}
dataset['paper'] = pd.read_csv('dataRev2/Paper.csv').fillna("")
dataset['author'] = pd.read_csv('dataRev2/Author.csv').fillna("")
dataset['conference'] = pd.read_csv('dataRev2/Conference.csv').fillna("")
dataset['journal'] = pd.read_csv('dataRev2/Journal.csv').fillna("")
dataset['paper_author'] = pd.read_csv('dataRev2/PaperAuthor.csv').fillna("")

In [63]:
pa = dataset["paper_author"]
#pa = pa.groupby(["AuthorId"])
df = pd.DataFrame({'A' : ['foo', 'bar', 'foo', 'bar',
                             'foo', 'bar', 'foo', 'foo'],
                       'B' : ['one', 'one', 'two', 'three',
                              'two', 'two', 'one', 'three'],
                       'C' : np.random.randn(8),
                       'D' : np.random.randn(8)})

In [75]:
new_pa = pa.groupby(['AuthorId']).size().reset_index(name='counts')

0          False
1          False
2          False
3          False
4          False
5          False
6          False
7          False
8          False
9          False
10         False
11         False
12         False
13         False
14         False
15         False
16         False
17         False
18         False
19         False
20         False
21         False
22         False
23         False
24         False
25         False
26         False
27         False
28         False
29          True
           ...
2143118    False
2143119    False
2143120    False
2143121    False
2143122    False
2143123    False
2143124    False
2143125    False
2143126    False
2143127    False
2143128    False
2143129    False
2143130    False
2143131    False
2143132    False
2143133    False
2143134    False
2143135    False
2143136     True
2143137    False
2143138    False
2143139    False
2143140    False
2143141    False
2143142    False
2143143    False
2143144    False
2143145    False
2143146    False
2143147    False
Name: counts, Length: 2143148, dtype: bool

In [176]:
common_ids = new_pa[new_pa['counts'] > 2000]["AuthorId"]
common_ids

86293        92353
317567      339923
592660      634048
1049100    1122750
1288155    1378795
1867412    1998870
2119996    2269160
Name: AuthorId, dtype: int64

In [195]:
many_people = pa[pa.AuthorId == 1998870]
many_people

,PaperId,AuthorId,Name,Affiliation
2964,526,1998870,Victor Markowitz,"U.S. Department of Energy, Joint Genome Institute"
3549,676,1998870,Jonathan W. Martin,
3646,690,1998870,Naomi Ward,"The Institute for Genomic Research,The Center ..."
7771,1555,1998870,İ. Adagideli,"Instituut-Lorentz, Universiteit Leiden - P. O...."
25019,4091,1998870,John D. Mathews,
25757,4296,1998870,Robert Gaizauskas,
31917,5217,1998870,Meer van der Andries D,
34350,5497,1998870,S.T. Naumann,"Commonwealth Edison Co., Chicago, IL United St..."
35280,5747,1998870,...,
37004,6137,1998870,James E. Gunn,"Princeton University Observatory, Peyton Hall,..."
37005,6137,1998870,Edwin L. Turner,"Princeton University Observatory, Peyton Hall,..."
37006,6137,1998870,Gordon T. Richards,"Princeton University Observatory, Peyton Hall,..."
39402,6551,1998870,Richard S.J. Tol,"Economic and Social Research Institute, Dublin"
46504,7852,1998870,G. S. Hennessy,
50937,8469,1998870,H. C. Carlson,
52430,8779,1998870,P. M. Santini,
58905,10052,1998870,V. S. Ronald,
58906,10052,1998870,V. Govindasamy,
62917,10699,1998870,A. P. Heinson,
68296,11409,1998870,Ivailo M. Mladenov (Ivaïlo M. Mladenov),
68967,11594,1998870,Mohammad A. Karim,
78947,13588,1998870,A.Y. Pigarov,"Massachusetts Inst. of Tech., Cambridge, MA (U..."
92130,15601,1998870,Jiebo Luo,
95417,16239,1998870,Alex Colburn,Microsoft Research
99162,16854,1998870,...,
99675,16911,1998870,G. S. Hennessy,
109265,18571,1998870,A. D. Richmond,
114189,19249,1998870,B. Sanz,
114190,19249,1998870,J. Nieves,
114191,19249,1998870,Y. Penya,
...,...,...,...,...
12622820,2231972,1998870,Oleg I Krijanovski,"Department of Internal Medicine, University of..."
12624190,2232232,1998870,P. M. Santini,
12626183,2232559,1998870,...,
12626621,2232685,1998870,,Hackländerstrasse 17 D-70187 Stuttgart Germany
12632502,2233838,1998870,Brian RODRIGUES,
12642744,2235533,1998870,M. T. Lewis,
12645052,2235998,1998870,Y. S. Yoon,
12669259,2240391,1998870,,
12669841,2240487,1998870,,
12682076,2242552,1998870,Rui Vilela Mendes,
12683585,2242751,1998870,Frederick J. Gallun,
12689254,2243869,1998870,...,
12690894,2244119,1998870,Donald Marolf,"Physics Department, Syracuse University, Syrac..."
12693970,2244705,1998870,O. Gang,
12699327,2245707,1998870,KF Lee,
12705518,2246944,1998870,Laszlo A. Koczy,
12707015,2247124,1998870,S. A. González,
12713218,2248273,1998870,Yu Tian Wang,
12720601,2249268,1998870,Jr. Gerald Q. Maguire,
12724796,2250045,1998870,G. R. Knapp,
12728195,2250753,1998870,Frances Ruane,
12730937,2251276,1998870,,
12734391,2251848,1998870,C. Dreher,
12737660,2252364,1998870,Carl Kadie,Microsoft Research
12738537,2252498,1998870,R. B. Kerr,
12753118,2254664,1998870,Thomas R. Karl,
12755300,2255111,1998870,Dmitry G. Vassylyev,
12756215,2255344,1998870,R. M. Robinson,
12764007,2256954,1998870,,
12766085,2257375,1998870,Simon Marcellin,

In [196]:
len(many_people)

3316

In [ ]:
# writer = pd.ExcelWriter('output.xlsx')
# many_people.to_excel(writer,'Sheet1')
# writer.save()

In [149]:
pa.head()
#type(pa)
pa[pa.Name.str.contains("Livesey")]

,PaperId,AuthorId,Name,Affiliation
8666,1777,1599138,Frederick J. Livesey,
86478,15039,92353,W. A. Livesey,"Univ. of California, Los Angeles United States"
482518,81709,1508093,Nathaniel J. Livesey,
597788,99988,1454330,W. A. Livesey,
782699,133952,1454330,W. A. Livesey,Institute of Geophysics and Planetary Physics|...
1015927,173639,15330,C. Livesey,"Veterinary Laboratories Agency, Woodham Lane, ..."
1017902,174082,1043052,M. J. Livesey,
1526964,263527,1508093,Nathaniel J. Livesey,
1622487,280588,1599138,Frederick J. Livesey,
1679850,290620,1454330,W. A. Livesey,
2024302,352617,1186926,F. Livesey,
2086568,363347,1454330,W. A. Livesey,
2469238,430828,1508093,N. J. Livesey,
2479009,432839,1686473,Mike Livesey,Division of Computational Science|University o...
2527730,441584,1599138,F. J. Livesey,
3007935,526593,1508093,Nathaniel J. Livesey,
3173532,555287,1686473,Mike Livesey,
3195033,559638,1686473,Mike Livesey,Division of Computer Science|University of St ...
3376920,591974,1599138,F. J. Livesey,
3448541,604716,1686473,Mike Livesey,
3467439,608115,1686473,Mike Livesey,
3701420,648292,1686473,Mike Livesey,Division of Computer Science|University of St ...
3707836,649573,1454330,W. A. Livesey,
3715944,651367,1866988,Jonathon Livesey,
3737255,655744,1349259,N. J. Livesey,
3746462,657483,1686473,Mike Livesey,
3785657,664584,1599138,Frederick J. Livesey,Gurdon Institute and Department of Biochemistr...
3913237,685063,1043052,M. J. Livesey,
4294109,753181,1508093,Nathaniel J. Livesey,
4385973,769396,1360711,Steven A. Livesey,
...,...,...,...,...
5407645,953354,92353,W.A. Livesey,
5459618,963143,1508093,Nathaniel J. Livesey,
5701872,1006401,1454330,W. Livesey,
6017924,1063244,1599138,Frederick J. Livesey,
6519037,1149754,1508093,N. J. Livesey,
6688901,1180472,1599138,F. J. Livesey,"Department of Genetics, Harvard Medical School..."
6935164,1226288,1599138,F. J. Livesey,"Department of Genetics, Harvard Medical School..."
7193269,1273022,1686473,Mike Livesey,
7253619,1284119,1686473,Mike Livesey,
7802333,1379471,359121,Christina Livesey,
8198846,1452319,1508093,Nathaniel J. Livesey,"Jet Propulsion Laboratory, California Institut..."
8427536,1492850,1508093,Nathaniel J. Livesey,
8690296,1539563,638361,N. J. Livesey,
8830513,1562721,1599138,F. J. Livesey,Department of Genetics and Howard Hughes Medic...
8900985,1574587,1686473,Mike Livesey,
9140365,1618867,1599138,F. J. Livesey,
9197582,1629595,1508093,Nathaniel J. Livesey,"Jet Propulsion Laboratory, California Institut..."
9383219,1662149,1686473,Mike Livesey,
9395183,1663720,1612575,Jon Livesey,
9602223,1700630,1508093,N. J. Livesey,"Jet Propulsion Laboratory, California Institut..."
9657141,1710759,857782,John C. Livesey,
10087762,1784137,1599138,Frederick J Livesey,Gurdon Institute and Department of Biochemistr...
11299551,1999756,1454330,W. A. Livesey,
11564371,2047158,1686473,Mike Livesey,
11637796,2060808,1948649,W. A. Livesey,
11637817,2060815,1508093,Nathaniel J. Livesey,
11820935,2092481,1454330,W. A. Livesey,
12503429,2211955,1906804,A. K. Livesey,
12535849,2217008,1612575,Jon Livesey,Georgia Institute of Technology School of Info...
12706119,2247064,1599138,Frederick J Livesey,"Gurdon Institute, University of Cambridge,Depa..."

In [187]:
auth = dataset["author"]
auth[auth.Id == 1998870]
#auth.head()

Empty DataFrame
Columns: [Id, Name, Affiliation]
Index: []

In [166]:
russell_pa = pa[pa.AuthorId == 634048]
russell_pa

          PaperId  AuthorId       Name                 Affiliation
12383        1957    634048  Hui Zhang    Arizona State University
35604        5838    634048  Hui Zhang    Arizona State University
39555        6599    634048  Hui Zhang    Arizona State University
41910        6989    634048  Hui Zhang    Arizona State University
58300        9926    634048  Hui Zhang    Arizona State University
61768       10643    634048  Hui Zhang    Arizona State University
70226       11920    634048  Hui Zhang    Arizona State University
76699       13221    634048  Hui Zhang    Arizona State University
84260       14465    634048  Hui Zhang    Arizona State University
85381       14785    634048  Hui Zhang    Arizona State University
85382       14785    634048  Hui Zhang
102359      17365    634048  Hui Zhang    Arizona State University
102653      17443    634048  Hui Zhang    Arizona State University
117967      19958    634048  Hui Zhang    Arizona State University
130044      22492    634048  Hui Zhang    Arizona State University
130045      22492    634048  Hui Zhang  Carnegie Mellon University
132821      23129    634048  Hui Zhang    Arizona State University
134268      23343    634048  Hui Zhang    Arizona State University
145321      24608    634048  Hui Zhang    Arizona State University
164853      27522    634048  Hui Zhang    Arizona State University
171011      28649    634048  Hui Zhang    Arizona State University
172303      28823    634048  Hui Zhang
172304      28823    634048  Hui Zhang    Arizona State University
178005      29858    634048  Hui Zhang    Arizona State University
182561      30041    634048  Hui Zhang    Arizona State University
184660      30358    634048  Hui Zhang    Arizona State University
185356      30430    634048  Hui Zhang    Arizona State University
189414      31115    634048  Hui Zhang    Arizona State University
192912      31846    634048  Hui Zhang    Arizona State University
215205      35569    634048  Hui Zhang    Arizona State University
...           ...       ...        ...                         ...
12542317  2217996    634048  Hui Zhang    Arizona State University
12546577  2218331    634048  Hui Zhang    Arizona State University
12567635  2222590    634048  Hui Zhang    Arizona State University
12567928  2222665    634048  Hui Zhang    Arizona State University
12580234  2224246    634048  Hui Zhang    Arizona State University
12584446  2225302    634048  Hui Zhang    Arizona State University
12592401  2227244    634048  Hui Zhang    Arizona State University
12598589  2228446    634048  Hui Zhang    Arizona State University
12622677  2231926    634048  Hui Zhang    Arizona State University
12632998  2233988    634048  Hui Zhang    Arizona State University
12637636  2234932    634048  Hui Zhang    Arizona State University
12639122  2235203    634048  Hui Zhang    Arizona State University
12648211  2236522    634048  Hui Zhang    Arizona State University
12658995  2238590    634048  Hui Zhang    Arizona State University
12662874  2239301    634048  Hui Zhang    Arizona State University
12665406  2239978    634048  Hui Zhang    Arizona State University
12688083  2243618    634048  Hui Zhang    Arizona State University
12698336  2245583    634048  Hui Zhang    Arizona State University
12701793  2246277    634048  Hui Zhang    Arizona State University
12704734  2246847    634048  Hui Zhang    Arizona State University
12712660  2248122    634048  Hui Zhang    Arizona State University
12714210  2248409    634048  Hui Zhang    Arizona State University
12718540  2248863    634048  Hui Zhang    Arizona State University
12734656  2251908    634048  Hui Zhang    Arizona State University
12754512  2254901    634048  Hui Zhang    Arizona State University
12760249  2256152    634048  Hui Zhang    Arizona State University
12761287  2256315    634048  Hui Zhang    Arizona State University
12762209  2256485    634048  Hui Zhang    Arizona State University
12772418  2258480    634048  Hui Zhang    Arizona State University
12772538  2258511    634048  Hui Zhang    Arizona State University

[2237 rows x 4 columns]

In [168]:
russell_pa[~russell_pa["Name"].str.contains("Zhang",case=False)]

         PaperId  AuthorId           Name Affiliation
2337923   408113    634048  Forbes Avenue
3398389   595111    634048          Bo Li
3930501   688534    634048   Nick McKeown

In [91]:
def parse_paper_ids(paper_ids_string):
    return paper_ids_string.strip().split()

def parse_targetset(targetset):
    pair_list = []
    author_id_list = targetset['AuthorId']

    for i in range(len(author_id_list)):
        author_id = author_id_list[i]
        papers = targetset[targetset.AuthorId == author_id]['PaperIds'].unique()[0]
        papers = parse_paper_ids(papers)
        for j in range(len(papers)):
            paper_id = int(papers[j])
            pair_list.append( (author_id, paper_id) )
    return list(set(pair_list))

def generate_feature_list(author_paper_pairs, ap_to_feature_list):
    result_list = []

    temp_dict = {} # { (author, paper) => [f1, f2 ...] }
    for ap_pair in author_paper_pairs:
        temp_dict[ap_pair] = []

    for i in range(len(ap_to_feature_list)):
        feature_dict = ap_to_feature_list[i]
        for ap_pair in author_paper_pairs:
            feature = feature_dict[ap_pair]
            temp_dict[ap_pair].append(feature)

    for key in temp_dict.keys():
        result_list.append(key + tuple( temp_dict[key] ))

    return result_list

def lcs(X , Y):
    # find the length of the strings
    m = len(X)
    n = len(Y)
 
    # declaring the array for storing the dp values
    L = np.zeros((m+1,n+1))
 
    """Following steps build L[m+1][n+1] in bottom up fashion
    Note: L[i][j] contains length of LCS of X[0..i-1]
    and Y[0..j-1]"""
    for i in range(m+1):
        for j in range(n+1):
            if i == 0 or j == 0 :
                L[i][j] = 0
            elif X[i-1] == Y[j-1]:
                L[i][j] = L[i-1][j-1]+1
            else:
                L[i][j] = max(L[i-1][j] , L[i][j-1])
 
    # L[m][n] contains the length of LCS of X[0..n-1] & Y[0..m-1]
    return L[m][n]

def get_coauthor_aff(pa_data,pid):
    related_authors = pa_data[pa_data['PaperId'] == pid]['Affiliation']
    return related_authors.unique()

def kamil_feature_11(dataset, author_paper_pairs):
    feature_dict = {}
    pa_data = dataset["paper_author"].set_index('AuthorId')
    
    print("Welcome to Kamil's feature!")
    print("AP shape",len(author_paper_pairs))
    print("type",type(author_paper_pairs[0][0]))
    
    for ap in author_paper_pairs:
        #print("PA pair",ap)
        #paper_aff = pa_data.loc[(pa_data.loc[ap[0]]["PaperId"] == ap[1])]["Affiliation"].unique()
        #print("Paper aff--",paper_aff,"--")
        
        ta_aff = " ".join(pa_data.loc[ap[0]]["Affiliation"].unique())
        #print("Target aff--",ta_aff,"--")
        coa_aff = get_coauthor_aff(pa_data, ap[1])
        value = 0
        for i,aff in enumerate(coa_aff):
            if(aff != ""):
         #       print(i,"Co auth aff::",aff,"::")
                value += lcs(aff, ta_aff)
        feature_dict[ap] = value
        #print(ap," -> ",value)
    return feature_dict

def get_features(dataset, targetset):
    author_paper_pairs = parse_targetset(targetset)

    # Keep the format of f# (dictionary): { (a1, p1): feature_value1, (a2, p2): feature_value2 ... }
    # Add your features here and add them to feature_list!
    kamil_f1 = kamil_feature_11(dataset, author_paper_pairs)
    kamil_list = [kamil_f1]
    
    thao_list,harry_list = [],[]
    feature_list = harry_list + kamil_list + thao_list

    result_list = generate_feature_list(author_paper_pairs, feature_list)
    return result_list

In [92]:
#sample_l = [(1539933, 1359549), (1455231, 467172), (1215636, 1791266), (205278, 1737961), (433821, 1901940)]
#521630,1 + 972575,1
#kamil_feature_11(dataset,sample_l)
#toy = dataset["paper_author"].set_index('AuthorId')
#toy.loc[972575]["PaperId"] == 1

In [93]:
trainset = pd.read_csv('dataRev2/Train.csv')
train_confirmed = trainset[['AuthorId', 'ConfirmedPaperIds']].rename(columns = {'ConfirmedPaperIds':'PaperIds'})
#train_confirmed.head(5)
%time features_conf = get_features(dataset, train_confirmed.head(5))

Welcome to Kamil's feature!
AP shape 126
type <class 'numpy.int64'>
Wall time: 5min 14s

In [32]:
train_confirmed = train_confirmed.set_index('AuthorId')
train_confirmed.head()

                                                   PaperIds
AuthorId
826       25733 47276 77012 79468 87141 101385 104556 11...
933                                                 1739240
1118      49963 93433 341015 415282 488635 517119 521922...
2783      154377 212636 334024 350747 696269 704564 1241...
3105      603562 647574 792910 844605 863071 878798 1082...

In [ ]:
def find_relation(author_id,paper_id):
    relation_list = pd.DataFrame()
    paper_author = dataset['paper_author']
    pa_only = dataset['paper_author'][['PaperId','AuthorId']]
    #find papers related to the author
    related_papers = pa_only[pa_only.AuthorId == author_id]['PaperId'].unique()
    print("# related papers:",related_papers.shape)
    
    #find authors related to the paper
    related_authors = paper_author[paper_author['PaperId'] == paper_id]['AuthorId'].unique()
    print("# related authors:",related_authors.shape)
    
    #remove target paper and target author from lists
    related_papers = np.delete(related_papers,np.argwhere(related_papers == paper_id))
    related_authors = np.delete(related_authors, np.argwhere(related_authors == author_id))
    
    print("# related papers:",related_papers.shape)
    print("# related authors:",related_authors.shape)
    cnt = 0
    for author in related_authors:
        for paper in related_papers:
            single_relation = pa_only[(pa_only['PaperId'] == paper) & (pa_only['AuthorId'] == author)]
            cnt += single_relation.size
            
    print(author_id,paper_id,"->",cnt)
    
    return cnt

In [ ]:
%time find_relation(826,25733)