In [1]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [2]:
paper = pd.read_csv('dataRev2/Paper.csv')

In [3]:
author = pd.read_csv('dataRev2/Author.csv')

In [26]:
paper_author = pd.read_csv('dataRev2/PaperAuthor.csv')

In [27]:
paper_author.head()

,PaperId,AuthorId,Name,Affiliation
0,1,521630,Ayman Kaheel,Cairo Microsoft Innovation Lab
1,1,972575,Mahmoud Refaat,Cairo Microsoft Innovation Lab
2,1,1528710,Ahmed Abdul-hamid,Cairo Microsoft Innovation Lab
3,1,1611750,Motaz Ahmad El-saban,Cairo Microsoft Innovation Lab
4,2,1682088,Julio D. Rossi,"Departamento Matemática, FCEyN UBA (1428) Buen..."

In [29]:
pa_only = paper_author[['PaperId','AuthorId']]

In [48]:
def find_relation(author_id,paper_id):
    relation_list = pd.DataFrame()
    #find papers related to the author
    related_papers = pa_only[pa_only.AuthorId == author_id]['PaperId'].unique()
    print("# related papers:",related_papers.shape)
    
    #find authors related to the paper
    related_authors = paper_author[paper_author['PaperId'] == paper_id]['AuthorId'].unique()
    print("# related authors:",related_authors.shape)
    
    #remove target paper and target author from lists
    related_papers = np.delete(related_papers,np.argwhere(related_papers == paper_id))
    related_authors = np.delete(related_authors, np.argwhere(related_authors == author_id))
    
    print("# related papers:",related_papers.shape)
    print("# related authors:",related_authors.shape)
    cnt = 0
    for author in related_authors:
        for paper in related_papers:
            single_relation = paper_author[(paper_author['PaperId'] == paper) & (paper_author['AuthorId'] == author)]
            if(single_relation.size > 0):
                #display(single_relation)
                relation_list = relation_list.append(single_relation)
                break
        """
        cnt += 1
        if cnt> 55:
            break
        """
    print(relation_list.shape)
    print(relation_list['AuthorId'].shape)
    
    return relation_list

#target author, target paper
d_list = [{"author" : "826", "confirmed" : "25733 47276 77012"},
          {"author" : "1118","confirmed" : "49963 93433 341015 415282"}
         ]

for d in d_list:
    author,confirmed = d["author"],d["confirmed"]
    for x in confirmed.split():
        tmp = find_relation(int(author),int(x))
        display(tmp)
        l.append(tmp)

# related papers: (92,)
# related authors: (6,)
# related papers: (91,)
# related authors: (5,)
(1, 4)
(1,)

        PaperId  AuthorId                  Name Affiliation
515384    87141    788465  Francisco E. Baralle         NaN

# related papers: (92,)
# related authors: (4,)
# related papers: (91,)
# related authors: (3,)
(1, 4)
(1,)

,PaperId,AuthorId,Name,Affiliation
622586,104556,366653,Cristiana Stuani,International Centre for Genetic Engineering a...

# related papers: (92,)
# related authors: (4,)
# related papers: (91,)
# related authors: (3,)
(3, 4)
(3,)

         PaperId  AuthorId                Name Affiliation
1339712   228773    610702        Natasa Skoko         NaN
1339714   228773   1380820       Marco Baralle         NaN
1339715   228773   1486245  Sergio Tisminetzky         NaN

TypeError: 'set' object is not subscriptable

In [33]:
%timeit find_relation(826,25733)

# related papers: (92,)
# related authors: (6,)
# related papers: (91,)
# related authors: (5,)
(1, 4)
(1,)
# related papers: (92,)
# related authors: (6,)
# related papers: (91,)
# related authors: (5,)
(1, 4)
(1,)
# related papers: (92,)
# related authors: (6,)
# related papers: (91,)
# related authors: (5,)
(1, 4)
(1,)
# related papers: (92,)
# related authors: (6,)
# related papers: (91,)
# related authors: (5,)
(1, 4)
(1,)
1 loop, best of 3: 24 s per loop