In [68]:
import pandas as pd
import numpy as np
from IPython.display import display, HTML

In [69]:
paper = pd.read_csv('dataRev2/Paper.csv')

FileNotFoundError: File b'dataRev2/Paper.csv' does not exist

In [6]:
author = pd.read_csv('dataRev2/Author.csv')

In [4]:
paper_author = pd.read_csv('dataRev2/PaperAuthor.csv')

In [8]:
paper_author.head()

,PaperId,AuthorId,Name,Affiliation
0,1,521630,Ayman Kaheel,Cairo Microsoft Innovation Lab
1,1,972575,Mahmoud Refaat,Cairo Microsoft Innovation Lab
2,1,1528710,Ahmed Abdul-hamid,Cairo Microsoft Innovation Lab
3,1,1611750,Motaz Ahmad El-saban,Cairo Microsoft Innovation Lab
4,2,1682088,Julio D. Rossi,"Departamento Matemática, FCEyN UBA (1428) Buen..."

In [17]:
pa_only = paper_author[['PaperId','AuthorId']]

In [67]:
def find_relation(author_id,paper_id):
    relation_list = pd.DataFrame()
    #find papers related to the author
    tmp = pa_only[pa_only['AuthorId'] == author_id]
    related_papers = tmp['PaperId'].unique()
    print("# related papers:",related_papers.shape)
    
    #find authors related to the paper
    related_authors = paper_author[paper_author['PaperId'] == paper_id]['AuthorId'].unique()
    print("# related authors:",related_authors.shape)
    
    #remove target paper and target author from lists
    related_papers = np.delete(related_papers,np.argwhere(related_papers == paper_id))
    related_authors = np.delete(related_authors, np.argwhere(related_authors == author_id))
    
    print("# related papers:",related_papers.shape)
    print("# related authors:",related_authors.shape)
    cnt = 0
    for paper in related_papers:
        for author in related_authors:
            single_relation = paper_author[(paper_author['PaperId'] == paper) & (paper_author['AuthorId'] == author)]
            if(single_relation.size > 0):
                #display(single_relation)
                relation_list = relation_list.append(single_relation)
        """
        cnt += 1
        if cnt> 55:
            break
        """
    return relation_list
#target author, target paper
find_relation(826,25733)

# related papers: (92,)
# related authors: (6,)
# related papers: (91,)
# related authors: (5,)

,PaperId,AuthorId,Name,Affiliation
515384,87141,788465,Francisco E. Baralle,NaN
604381,101385,788465,F. Baralle,NaN
622589,104556,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
688495,116923,788465,Francisco Baralle,NaN
697733,118648,788465,Francisco E. Baralle,NaN
1707200,295435,788465,Francisco E. Baralle,NaN
1734886,300715,788465,Francisco E. Baralle,NaN
1792310,310637,788465,Francisco E. Baralle,NaN
1817272,314641,788465,Francisco Baralle,NaN
1947756,338324,788465,F. E. Baralle,NaN
2562340,447937,788465,F. E. Baralle,NaN
3075510,538977,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
3427907,600927,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
3831013,672626,788465,Francisco E. Baralle,NaN
3986564,698805,788465,Francisco E. Baralle,NaN
4257329,746784,788465,F. E. Baralle,International Centre for Genetic Engineering a...
4476226,785562,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
4610297,808429,788465,F. E. Baralle,NaN
5102571,897009,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
5362000,945411,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
5810873,1026529,788465,Francisco E Baralle,NaN
5864238,1034798,788465,Francisco Baralle,NaN
5929431,1047040,788465,F. E. Baralle,NaN
6310352,1114058,788465,F. E. Baralle,International Centre for Genetic Engineering a...
6558312,1157180,788465,Francisco Baralle,NaN
6887063,1217013,788465,F. E. Baralle,NaN
6922378,1223801,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
7320385,1296119,788465,Francisco Baralle,NaN
7634623,1351053,788465,F BARALLE,NaN
8486123,1503751,788465,F. E. Baralle,NaN
8896233,1573814,788465,Francisco Baralle,NaN
8939791,1582180,788465,F. E. Baralle,International Centre for Genetic Engineering a...
8989991,1591758,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
9009577,1595073,788465,Francisco Baralle,NaN
9039438,1601536,788465,Francisco Baralle,NaN
9244603,1638967,788465,F. E. Baralle,NaN
9511884,1685169,788465,F. E. Baralle,NaN
10060194,1778983,788465,Francisco E. Baralle,NaN
10548196,1866316,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
10769662,1905067,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
10775847,1906261,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
11217213,1985278,788465,Francisco E. Baralle,NaN
11913249,2108882,788465,Francisco E Baralle,NaN
11960664,2117473,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
12091111,2140936,788465,Francisco E. Baralle,NaN
12143365,2149742,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
12330972,2182681,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...
12480959,2208076,788465,Francisco E. Baralle,International Centre for Genetic Engineering a...