In [1]:
import pandas as pd
paper= pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\Paper.csv")
author = pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\Author.csv")
conference = pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\Conference.csv")
journal = pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\Journal.csv")
train = pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\Train.csv")
valid= pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\Valid.csv")

In [2]:
paper = paper.set_index('Id')
paper['Title'] = paper['Title'].fillna("")
paper.head()#(2257249 * 5)

,Title,Year,ConferenceId,JournalId,Keyword
Id,,,,,
1,Stitching videos streamed by mobile phones in ...,2009,167,0,mobile video capturing|real-time|video stitching
2,A nonlocal convection–diffusion equation,2007,0,7234,Nonlocal diffusion; Convection–diffusion; Asym...
3,Area Effects in Cepaea,1963,0,16867,NaN
4,Multiple paternity in a natural population of ...,2005,0,6130,NaN
5,Complexity of Finding Short Resolution Proofs,1997,158,0,NaN

In [3]:
author.head()# 247203

   Id               Name                                Affiliation
0   9      Ernest Jordan                                        NaN
1  14          K. MORIBE                                        NaN
2  15      D. Jakominich                                        NaN
3  25  William H. Nailon                                        NaN
4  37   P. B. Littlewood  Cavendish Laboratory|Cambridge University

In [4]:
len(set(author['Id']))

247203

In [5]:
conference = conference.set_index('Id')
conference.head()#4545

,ShortName,FullName,HomePage
Id,,,
1,IADIS,International Association for Development of t...,NaN
2,IADT,Issues and Applications of Database Technology,http://www.informatik.uni-trier.de/~ley/db/con...
4,NaN,IBM Germany Scientific Symposium Series,http://www.informatik.uni-trier.de/~ley/db/con...
5,ICOMP,International Conference on Internet Computing,http://www.informatik.uni-trier.de/~ley/db/con...
6,ICAC,International Conference on Autonomic Computing,http://www.autonomic-conference.org/

In [6]:
#journal= journal.set_index('Id')
journal.head()#15151

,Id,ShortName,FullName,HomePage
0,1,ICOM,Zeitschrift Für Interaktive Und Kooperative Me...,http://www.i-com-media.de
1,2,AEPIA,"Inteligencia Artificial,revista Iberoamericana...",http://aepia.dsic.upv.es/revista/
2,3,IBMRD,Ibm Journal of Research and Development,http://www-tr.watson.ibm.com/journal/rdindex.html
3,4,IBMSJ,Ibm Systems Journal,http://researchweb.watson.ibm.com/journal/
4,5,NaN,Iet Software/iee Proceedings - Software,http://www.ietdl.org/IET-SEN

In [7]:
train.head()#3739,3

,AuthorId,ConfirmedPaperIds,DeletedPaperIds
0,826,25733 47276 77012 79468 87141 101385 104556 11...,220293 379873 384468 565252 939749 944658 1164...
1,933,1739240,477879
2,1118,49963 93433 341015 415282 488635 517119 521922...,961444 1446566
3,2783,154377 212636 334024 350747 696269 704564 1241...,208521 1207662 1898210
4,3105,603562 647574 792910 844605 863071 878798 1082...,191079 226980 273592 529834 556687 1052455 131...

In [8]:
#paper_author = pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\PaperAuthor.csv")

In [9]:
author.loc[author["Id"]==521630]

           Id          Name                        Affiliation
56070  521630  Ayman Kaheel  Microsoft Innovation Lab in Cairo

In [10]:
valid.loc[valid['AuthorId']== 521630]

Empty DataFrame
Columns: [AuthorId, PaperIds]
Index: []

In [11]:
valid.head()

   AuthorId                                           PaperIds
0        55  2507 15471 19294 20444 24074 25103 25304 36459...
1       426  873 37257 92584 174625 212235 284639 581263 60...
2      1861  59550 124595 282043 528639 922192 1048827 1059...
3     10212  24013 49767 131299 173546 195044 199989 213826...
4     10275  300441 358576 368138 389312 871240 876311 9952...

In [12]:
#test = pd.read_csv(r"C:\Users\Admin\Downloads\kdd cup\dataRev\Test.csv")
#test.head()

# Count features

In [13]:
#count of authors of paper
#count of paper from same conference(journal)
#count of authors from same conference(journal)
#count of keywords in the paper

## NLP features

In [14]:
#united keywords and title fields, remove duplicated and low-frequency terms(less than 30)
title = list(paper['Title'])
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer(stop_words = 'english')
title_vector = count_vector.fit_transform(title)
title_vector.shape

(2257249, 350765)

vocab = count_vector.fit(title)
vocab.vocabulary_

In [ ]:
total_tf = [title_vector[:,i] for i in range(title_vector.shape[1])]
len(total_tf)